<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kieronquinn.app.discoverkiller">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".DiscoverKiller"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.DiscoverKiller.Splash"
        tools:targetApi="31">

        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activities.RssConfigureActivity"
            android:exported="true"/>

        <activity android:name=".ui.activities.SettingsBackgroundPickerActivity"
            android:theme="@style/Theme.DiscoverKiller.Wallpaper"/>

        <!-- Discover Killer service for accessing root commands. Protected by a permission GSB has -->
        <service android:name=".service.DiscoverKillerService"
            android:permission="com.google.android.googlequicksearchbox.permission.FINISH_GEL_ACTIVITY"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kieronquinn.app.discoverkiller.SERVICE"/>
            </intent-filter>
        </service>

        <!-- Discover Killer RSS overlay. No permission - any launcher can use this -->
        <service android:name=".service.OverlayRssService"
            android:label="@string/overlay_title_rss"
            android:exported="true"
            android:icon="@drawable/ic_launcher_rss"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="com.android.launcher3.WINDOW_OVERLAY" />
                <data android:scheme="app" />
            </intent-filter>

            <meta-data
                android:name="service.api.version"
                android:value="7" />
        </service>

        <!-- Discover Killer Unset overlay. Protected by a permission GSB has -->
        <service android:name=".service.OverlayUnsetService"
            android:permission="com.google.android.googlequicksearchbox.permission.FINISH_GEL_ACTIVITY"
            android:label="@string/overlay_unset"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.launcher3.WINDOW_OVERLAY" />
                <data android:scheme="app" />
            </intent-filter>

            <meta-data
                android:name="service.api.version"
                android:value="7" />
        </service>

        <!-- Discover Killer App Launcher overlay. Protected by a permission GSB has -->
        <service android:name=".service.OverlayAppLauncherService"
            android:permission="com.google.android.googlequicksearchbox.permission.FINISH_GEL_ACTIVITY"
            android:label="@string/overlay_app"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.launcher3.WINDOW_OVERLAY" />
                <data android:scheme="app" />
            </intent-filter>

            <meta-data
                android:name="service.api.version"
                android:value="7" />
        </service>

        <!-- Settings provider for overlay settings. Protected by a permission GSB has -->
        <provider
            android:permission="com.google.android.googlequicksearchbox.permission.FINISH_GEL_ACTIVITY"
            android:authorities="com.kieronquinn.app.discoverkiller.overlay_settings"
            android:exported="true"
            android:name=".providers.OverlaySettingsProvider"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:theme="@style/AppTheme.ThirdPartyLicences" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:theme="@style/AppTheme.ThirdPartyLicences" />

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_desc"/>
        <meta-data
            android:name="xposedminversion"
            android:value="90"/>
        <meta-data
            android:name="xposedscope"
            android:resource="@array/scope"/>

    </application>

</manifest>